/* line 1, ../scss/global.scss */
body {
  font-family: 'Roboto', sans-serif;
  color: #4b4b4b;
}

/* line 6, ../scss/global.scss */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 12, ../scss/global.scss */
a {
  text-decoration: none;
}
/* line 14, ../scss/global.scss */
a:hover {
  color: #206eff;
}

/* line 19, ../scss/global.scss */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  /* line 28, ../scss/global.scss */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* line 34, ../scss/global.scss */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* line 40, ../scss/global.scss */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 46, ../scss/global.scss */
  .container {
    max-width: 1140px;
  }
}
/* line 52, ../scss/global.scss */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 540px) {
  /* line 60, ../scss/global.scss */
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}
/* line 66, ../scss/global.scss */
.row--justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 72, ../scss/global.scss */
.lol {
  text-align: center !important;
}

/* line 2, ../scss/burger-menu.scss */
.burger-icon {
  visibility: hidden;
  position: fixed;
  right: 5%;
  top: 5%;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  background: transparent;
}
/* line 13, ../scss/burger-menu.scss */
.burger-icon:before, .burger-icon:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #222494;
}
/* line 24, ../scss/burger-menu.scss */
.burger-icon:before {
  -webkit-animation: animationOneReverse 1s ease forwards;
          animation: animationOneReverse 1s ease forwards;
}
/* line 27, ../scss/burger-menu.scss */
.burger-icon:after {
  -webkit-animation: animationTwoReverse 1s ease forwards;
          animation: animationTwoReverse 1s ease forwards;
}
/* line 32, ../scss/burger-menu.scss */
.burger-icon .burger:before, .burger-icon .burger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #222494;
}
/* line 41, ../scss/burger-menu.scss */
.burger-icon .burger:before {
  top: 6px;
  -webkit-animation: animationBurgerTopReverse 1s ease forwards;
          animation: animationBurgerTopReverse 1s ease forwards;
}
/* line 45, ../scss/burger-menu.scss */
.burger-icon .burger:after {
  bottom: 6px;
  -webkit-animation: animationBurgerBottomReverse 1s ease forwards;
          animation: animationBurgerBottomReverse 1s ease forwards;
}

/* line 55, ../scss/burger-menu.scss */
body.nav-open .burger-icon:before {
  -webkit-animation: animationOne 1s ease forwards;
          animation: animationOne 1s ease forwards;
}
/* line 58, ../scss/burger-menu.scss */
body.nav-open .burger-icon:after {
  -webkit-animation: animationTwo 1s ease forwards;
          animation: animationTwo 1s ease forwards;
}
/* line 63, ../scss/burger-menu.scss */
body.nav-open .burger-icon .burger:before {
  -webkit-animation: animationBurgerTop 1s ease forwards;
          animation: animationBurgerTop 1s ease forwards;
}
/* line 66, ../scss/burger-menu.scss */
body.nav-open .burger-icon .burger:after {
  -webkit-animation: animationBurgerBottom 1s ease forwards;
          animation: animationBurgerBottom 1s ease forwards;
}

@-webkit-keyframes animationOneReverse {
  0% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animationOneReverse {
  0% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes animationOne {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}
@keyframes animationOne {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}
@-webkit-keyframes animationTwoReverse {
  0% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  25% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes animationTwoReverse {
  0% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  25% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes animationTwo {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes animationTwo {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@-webkit-keyframes animationBurgerTopReverse {
  0%, 50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
  51% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animationBurgerTopReverse {
  0%, 50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
  51% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes animationBurgerTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 1;
  }
  51%, 100% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
}
@keyframes animationBurgerTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 1;
  }
  51%, 100% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
}
@-webkit-keyframes animationBurgerBottomReverse {
  0%, 50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0;
  }
  51% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animationBurgerBottomReverse {
  0%, 50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0;
  }
  51% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes animationBurgerBottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
  51%, 100% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0;
  }
}
@keyframes animationBurgerBottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
  51%, 100% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0;
  }
}
/* menu setup is finished
========================================= */
@media (max-width: 540px) {
  /* line 131, ../scss/burger-menu.scss */
  .burger-icon {
    visibility: visible;
  }
}
/* line 1, ../scss/header.scss */
.header {
  position: -webkit-sticky;
  position: sticky;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  padding-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 16, ../scss/header.scss */
.header__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 20, ../scss/header.scss */
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
}
/* line 26, ../scss/header.scss */
.header__item {
  margin-right: 19px;
}
/* line 30, ../scss/header.scss */
.header__link {
  color: inherit;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 35, ../scss/header.scss */
.header__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/* line 39, ../scss/header.scss */
.header__link--lang {
  margin-left: 25px;
}
@media (max-width: 540px) {
  /* line 49, ../scss/header.scss */
  .header__list {
    display: none;
  }
}

/* line 2, ../scss/filter.scss */
.filter__key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 6, ../scss/filter.scss */
.filter__key-text {
  margin-top: 7px;
}
/* line 10, ../scss/filter.scss */
.filter__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: auto;
  padding: 5px 3px 4px 3px;
  white-space: nowrap;
  border: solid 1px #767676;
  margin-right: 25px;
  margin-bottom: 24px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 23, ../scss/filter.scss */
.filter__tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 28, ../scss/filter.scss */
.filter__tag:hover {
  color: #206eff;
  border: solid 1px #23198f;
}
/* line 33, ../scss/filter.scss */
.filter__tag--chosen {
  color: #206eff;
}
/* line 37, ../scss/filter.scss */
.filter__tag--reset {
  border: none;
  margin-left: 20px;
}
/* line 41, ../scss/filter.scss */
.filter__tag--reset:hover {
  border: none;
}
/* line 47, ../scss/filter.scss */
.filter__tag--reset {
  background: #d0d0d0;
}
/* line 51, ../scss/filter.scss */
.filter__close {
  color: #335abb;
  margin-left: 5px;
  width: 11px;
  height: 11px;
}
@media (max-width: 960px) {
  /* line 59, ../scss/filter.scss */
  .filter__key {
    margin-bottom: 10px;
  }
  /* line 62, ../scss/filter.scss */
  .filter__key-text {
    font-size: 14px;
  }
  /* line 67, ../scss/filter.scss */
  .filter__tag {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
@media (max-width: 540px) {
  /* line 75, ../scss/filter.scss */
  .filter__key {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* line 78, ../scss/filter.scss */
  .filter__key-text {
    width: 100%;
    font-size: 20px;
    color: #000;
  }
  /* line 84, ../scss/filter.scss */
  .filter__tag {
    margin-right: 15px;
  }
  /* line 86, ../scss/filter.scss */
  .filter__tag--chosen {
    padding: 8px;
    color: #206eff;
  }
  /* line 90, ../scss/filter.scss */
  .filter__tag--reset {
    padding: 8px;
    background-color: #cecbcb74;
    margin-left: 0;
  }
}

/* line 2, ../scss/reports.scss */
.reports__title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
}
@media (max-width: 540px) {
  /* line 10, ../scss/reports.scss */
  .reports__title {
    font-size: 28px;
  }
}

/* line 1, ../scss/report.scss */
.report {
  background: #fafafa;
  -webkit-box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}
/* line 6, ../scss/report.scss */
.report-tooltip {
  margin-right: 12px;
}
/* line 8, ../scss/report.scss */
.report-tooltip:hover {
  color: #206eff;
}
/* line 13, ../scss/report.scss */
.report__title {
  max-width: 70%;
}
/* line 17, ../scss/report.scss */
.report__favorit {
  width: 30%;
  padding-top: 30px;
  text-align: right;
  border: none;
  background: none;
}
/* line 25, ../scss/report.scss */
.report__star {
  padding-left: 5px;
  color: #ffa2a2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
/* line 30, ../scss/report.scss */
.report__star:hover {
  color: #fc9191;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
/* line 36, ../scss/report.scss */
.report__article {
  width: 100%;
  border: solid 1.5px #cdcdcd;
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  border-bottom: solid 4px #222494;
}
/* line 46, ../scss/report.scss */
.report__descr {
  margin-top: 15px;
  margin-bottom: 35px;
}
/* line 51, ../scss/report.scss */
.report__icon-info {
  display: none;
  margin-left: 10px;
}
/* line 56, ../scss/report.scss */
.report__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  margin-bottom: 20px;
  color: #9b9999;
}
/* line 64, ../scss/report.scss */
.report__info-right {
  width: 130px;
}
/* line 69, ../scss/report.scss */
.report__btn {
  display: block;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  border: solid 1.5px #222494;
  background-color: #ffffff;
  padding: 5px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
/* line 80, ../scss/report.scss */
.report__btn:hover {
  background: #222494;
  color: #fff;
}
/* line 86, ../scss/report.scss */
.report--even {
  background: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (max-width: 960px) {
  /* line 94, ../scss/report.scss */
  .report__icon-info {
    display: inline-block;
    margin-left: 10px;
  }
  /* line 99, ../scss/report.scss */
  .report {
    margin-top: 20px;
  }
}
@media (max-width: 540px) {
  /* line 105, ../scss/report.scss */
  .report__title {
    max-width: 85%;
    font-size: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* line 111, ../scss/report.scss */
  .report__favorit {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* line 116, ../scss/report.scss */
  .report__star {
    font-size: 30px;
  }
  /* line 120, ../scss/report.scss */
  .report__article {
    padding-left: 8px;
    padding-right: 8px;
  }
  /* line 125, ../scss/report.scss */
  .report__descr {
    font-size: 16px;
  }
  /* line 129, ../scss/report.scss */
  .report__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* line 131, ../scss/report.scss */
  .report__info-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  /* line 138, ../scss/report.scss */
  .report__info-right {
    width: 100%;
  }
  /* line 144, ../scss/report.scss */
  .report-tooltip {
    width: 45%;
    margin-bottom: 15px;
  }
  /* line 149, ../scss/report.scss */
  .report__btn {
    margin: 0 auto;
    width: 134px;
  }
}

/* line 1, ../scss/report-bio.scss */
.report-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  padding: 15px;
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 1%;
  -webkit-box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  border: solid 1.5px #cdcdcd;
  border-bottom: solid 4px #222494;
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* line 13, ../scss/report-bio.scss */
.report-bio:hover {
  border: solid 1.5px #222494;
  border-bottom: solid 4px #222494;
}
/* line 18, ../scss/report-bio.scss */
.report-bio__photo {
  max-width: 100%;
}
/* line 20, ../scss/report-bio.scss */
.report-bio__photo-wrap {
  width: 120px;
  height: 120px;
  border-radius: 15%;
  overflow: hidden;
}
/* line 28, ../scss/report-bio.scss */
.report-bio__about {
  width: 70%;
  margin-left: 20px;
}
/* line 33, ../scss/report-bio.scss */
.report-bio__name {
  text-align: center;
  margin-bottom: 5px;
}
/* line 38, ../scss/report-bio.scss */
.report-bio__work {
  text-align: center;
  margin-top: 5px;
}
@media (max-width: 960px) {
  /* line 45, ../scss/report-bio.scss */
  .report-bio {
    width: 48%;
  }
  /* line 49, ../scss/report-bio.scss */
  .report-bio__descr {
    font-size: 12px;
  }
  /* line 53, ../scss/report-bio.scss */
  .report-bio__photo {
    max-width: 100%;
  }
  /* line 55, ../scss/report-bio.scss */
  .report-bio__photo-wrap {
    width: 80px;
    height: 80px;
    border-radius: 15%;
    overflow: hidden;
  }
  /* line 63, ../scss/report-bio.scss */
  .report-bio__name {
    font-size: 14px;
  }
  /* line 67, ../scss/report-bio.scss */
  .report-bio__work {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  /* line 1, ../scss/report-bio.scss */
  .report-bio {
    width: 100%;
  }
}

/* line 1, ../scss/modal-content.scss */
.modal {
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/* line 6, ../scss/modal-content.scss */
.modal__inner {
  padding: 20px;
}
/* line 10, ../scss/modal-content.scss */
.modal__name {
  text-align: center;
  margin-bottom: 8px;
}
/* line 15, ../scss/modal-content.scss */
.modal__city {
  text-align: center;
  margin-top: 0;
  font-size: 18px;
}
/* line 21, ../scss/modal-content.scss */
.modal__photo-wrap {
  width: 30%;
  height: 180px;
  border-radius: 12%;
  overflow: hidden;
}
/* line 28, ../scss/modal-content.scss */
.modal__photo {
  width: 100%;
}
/* line 32, ../scss/modal-content.scss */
.modal__descr {
  width: 65%;
  font-size: 14px;
  margin-left: 3%;
}
@media (max-width: 540px) {
  /* line 39, ../scss/modal-content.scss */
  .modal {
    padding: 10px 10px;
  }
  /* line 42, ../scss/modal-content.scss */
  .modal__inner {
    padding: 0px;
  }
  /* line 46, ../scss/modal-content.scss */
  .modal__name {
    text-align: center;
  }
  /* line 50, ../scss/modal-content.scss */
  .modal__photo-wrap {
    text-align: center;
    width: 100%;
    height: 150px;
  }
  /* line 56, ../scss/modal-content.scss */
  .modal__photo {
    width: 75%;
  }
  /* line 60, ../scss/modal-content.scss */
  .modal__descr {
    font-size: 13px;
    width: 100%;
  }
}

/* line 68, ../scss/modal-content.scss */
.blocker {
  background-color: #1c1c4bd7;
}

/* line 72, ../scss/modal-content.scss */
.modal a.close-modal {
  top: 2px;
  right: 3px;
  width: 90px;
  height: 90px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Times_symbol.svg/853px-Times_symbol.svg.png);
}
@media (max-width: 540px) {
  /* line 80, ../scss/modal-content.scss */
  .modal a.close-modal {
    top: 10px;
    right: -10px;
    width: 50px;
    height: 50px;
  }
}

/* line 3, ../scss/modal-report.scss */
.modal-report__title {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
/* line 10, ../scss/modal-report.scss */
.modal-report__descr {
  font-size: 14px;
}
@media (max-width: 540px) {
  /* line 15, ../scss/modal-report.scss */
  .modal-report__title {
    width: 95%;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }
  /* line 23, ../scss/modal-report.scss */
  .modal-report__descr {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */