body {
    font-family: 'Roboto', sans-serif;
    color: #4b4b4b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    &:hover {
        color: #206eff;
    }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: $screen-sm) {
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.row--justify-between {
  justify-content: space-between;
}



.lol {
  text-align: center!important;
}