.header {
    position: sticky;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 13px;
    display: flex;

    

    &__wrapper {
        justify-content: space-between;
    }

    &__list {
        display: flex;
        list-style: none;
        text-decoration: none;
    } 

    &__item {
       margin-right: 19px; 
    }

    &__link {
        color: inherit;
        font-weight: 500;
        transition: all 0.3s ease-in;

        &:hover {
            transform: scale(1.1);
        }

        &--lang {
            margin-left: 25px;
        }
    }

    // &__nav {
    //     display: block;
    // }

    @media (max-width: $screen-sm) {
        &__list{
            display: none;
        }

    }
}