.modal-report {

    &__title {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
    }


    &__descr {
        font-size: 14px;
    }

    @media (max-width: $screen-sm) {
        &__title {
            width: 95%;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
        }
    
    
        &__descr {
            font-size: 12px;
        }
    }
}