.reports {
    &__title {
        font-size: 40px;
        font-weight: bold;
        margin-top: 95px;
    }

    @media (max-width: $screen-sm) {

        &__title {
            font-size: 28px;
        }
      
      }
}